<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id = "mprinter" class="iaccess.di.ui.MonoPrinter"></bean> -->
	<bean id = "cprinter" class="iaccess.di.ui.ColorPrinter"></bean>
	
	<bean id = "hello" class="iaccess.di.entity.Hello">
		<constructor-arg index="0" ref="cprinter" />
		<constructor-arg index="1" value="SPRING" />
	</bean>
	
</beans>
