<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="SelectDepRtypeMapper">
	
  <select id="examCount" resultType="_int">   
	SELECT COUNT(*) CNT
	FROM EXAM_RSLT
  </select>

  <select id="examDate" resultType="date">   
	SELECT SYSDATE DT
	FROM DUAL
  </select>
</mapper>