<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- primary tag로 우선순위 지정가능
	<bean id = "monoPrinter" class="iaccess.di.ui.MonoPrinter" primary="true "/> -->
	
	<bean id = "monoPrinter" class="iaccess.di.ui.MonoPrinter" />
	<bean id = "colorPrinter" class="iaccess.di.ui.ColorPrinter"/>	
	
	<bean id = "hello" class="iaccess.di.entity.Hello"></bean>

</beans>
