<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id = "printer" class="iaccess.di.ui.ColorPrinter"></bean>
	
	<bean id = "hello" class="iaccess.di.entity.Hello">
		<property name="printer" ref="printer"/>
		<property name="persons">
			<list>
				<bean class="iaccess.di.entity.Person">
					<property name="age" value="${person1.age}"></property>
					<property name="name" value="${person1.name}"></property>
				</bean>
				<bean class="iaccess.di.entity.Person">
					<property name="age" value="${person2.age}"></property>
					<property name="name" value="${person2.name}"></property>
				</bean>
				<bean class="iaccess.di.entity.Person">
					<property name="age" value="${person3.age}"></property>
					<property name="name" value="${person3.name}"></property>
				</bean>
			</list>
		</property>
	 </bean>
		
	<context:property-placeholder
		location="classpath:iaccess/di/personlist.properties"/>
</beans>
